@import "variables.css";

.App {
    text-align: center;
    font-family: 'VT323', monospace;
}

.content {
    width: 60vw;
    animation: fade-in-animation 1 var(--fade-animation-time) linear;
}

@media (max-width: 500px) {
    .content {
        width: 80vw;
    }
}


.content img {
    width: 100%;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .content img {
        animation: App-logo-float infinite 5s linear;
    }

    .fade-out {
        animation: fade-out-animation 1 var(--fade-animation-time) linear;
    }
}

.App-header {
    background-color: var(--main-bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-float {
    0% {
        box-shadow: 0 20px 15px -20px rgba(0, 0, 0, 1.0);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 20px 15px -20px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 20px 15px -20px rgba(0, 0, 0, 1.0);
        transform: translatey(0px);
    }
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fade-out-animation {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}
