@import "variables.css";

html {
    background-color: var(--main-bg-color);
}

body {
    font-family: var(--main-font);
}

.App {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
}

@media (prefers-reduced-motion: no-preference) {
    .page {
        animation: fade-in-animation 1 var(--fade-animation-time) linear;
    }

    .fade-out {
        animation: fade-out-animation 1 var(--fade-animation-time) linear;
    }
}

.App-header {
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}
